# Config file for automatic testing at travis-ci.org

sudo: false
language: python

matrix:
    include:
      - python: 2.7
        env: TOX_ENV=py27
      - python: 3.4
        env: TOX_ENV=py34
      - python: 3.5
        env: TOX_ENV=py35
      - python: 3.6
        env: TOX_ENV=py36
      - python: 3.6
        env: TOX_ENV=flake8

install:
  - pip install tox
  - mkdir ~/.aws
  - echo '[aws-stage]' > ~/.aws/credentials
  - echo 'aws_access_key_id = AKIAIOSFODNN7EXAMPLE' >> ~/.aws/credentials
  - echo 'aws_secret_access_key = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY' >> ~/.aws/credentials

script:
  - tox -e $TOX_ENV

before_cache:
  - rm -rf $HOME/.cache/pip/log

cache:
  directories:
    - $HOME/.cache/pip
