# pytest-sevices example exemptions conf
#
# this is a comment
#
# columns:
# unparametrized test name; test_param_id; expiration day; expiration comment
test_ec2_instance_has_required_tags i-0123456789f014c162 2019-01-01 ec2 instance has no owner
