botocore==1.8.24
coverage==4.5
flake8==3.5.0
google_api_python_client==1.6.1
PyYAML==3.12
pygerduty==0.37.0
pytest-cov==2.5.1
pytest-html==1.16.1
pytest-json==0.4.0
pytest-metadata==1.5.1
pytest==3.3.2
python-dateutil==2.6.1
git+https://github.com/hwine/python-herokuadmintools.git#egg=herokuadmintools
wheel==0.33.4
pyjq==2.3.1
