botocore==1.10.65
coverage==4.5.1
black==18.6b4
google_api_python_client==1.6.1
PyYAML==3.13
pygerduty==0.37.0
pytest-cov==2.5.1
pytest-html==1.19.0
pytest-json==0.4.0
pytest-metadata==1.7.0
pytest==3.7.0
python-dateutil==2.7.3
git+https://github.com/hwine/python-herokuadmintools.git#egg=herokuadmintools
